.header-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.canvas-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
}

.overlay {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

button {
    cursor: pointer;
}

.page-break {
}

@media print {
    .header-container {
        display: none
    }

    .canvas-container {
        display: flex;
        flex-direction: column;
        gap: 2vh
    }

    .page-break {
        page-break-before: always;
    }
}